{% extends 'base.html.twig' %}

{% block title %}Nouveau équipe et joueur{% endblock %}

{% block body %}
    <h1>Ajouter nouvelle équipe ou nouveau joueur</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Ajout d'équipe</h3>
            {{ form_start(team_form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'method': 'post'
                }
            }) }}
            <div class="row">
                <div class="col-md-12">{{ form_row(team_form.name) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(team_form.country) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(team_form.balance) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Valider la création</button>
                </div>
            </div>
            {{ form_end(team_form) }}
        </div>
        <div class="col-md-6">
            <h3>Ajout de joueur</h3>
            {{ form_start(player_form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'method': 'post'
                }
            }) }}
            <div class="row">
                <div class="col-md-12">{{ form_row(player_form.firstName) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(player_form.lastName) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(player_form.team) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Valider la création</button>
                </div>
            </div>
            {{ form_end(player_form) }}
        </div>
    </div>
{% endblock %}
