{% extends 'base.html.twig' %}

{% block title %}Liste des équipes et des joueurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Liste des équipes</h1>
            <div class="count">
                {{ all_teams.getTotalItemCount }}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th {% if all_teams.isSorted('t.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(all_teams, 'Nom de l\'équipe', 't.name') }}</th>
                    <th {% if all_teams.isSorted('t.country') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(all_teams, 'Pays', 't.country') }}</th>
                    <th {% if all_teams.isSorted('t.balance') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(all_teams, 'Solde', 't.balance') }}</th>
                    <th>Nombre de joueurs</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for team in all_teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>{{ team.country }}</td>
                        <td>{{ team.balance }}</td>
                        <td>{{ team.players | length }}</td>
                        <td>
                            <button class="btn btn-secondary" onclick="(e) => openModal(e)">Voir les joeurs</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Il n'y a pas encore d'équipe, veuillez ajouter!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(all_teams) }}
            </div>
        </div>
        <div class="col-md-6">
            <h1>Liste des équipes</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de l'équipe</th>
                    <th>Pays</th>
                    <th>Solde monétaire</th>
                    <th>Nombre de joueurs</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*function openModal(e) {
            e.preventDefault();
            const options = {};
            const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), options);
            myModal.show();
        }*/
    </script>
{% endblock %}
